@font-face {
  font-family: 'InterR';
  font-weight: 400;
  src: url('/fonts/InterR.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('/fonts/InterB.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas';
  font-weight: 400;
  src: url('/fonts/Bebas.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/MontserratR.woff') format('woff');
}