@use 'fonts';
@use 'null';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;


    &_left {
        display: flex;
        align-items: center;
        gap: 20px;

        @media(max-width: 800px) {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        @media (min-width: 381px) and (max-width: 768px) {
            display: inline;
            align-self: start;

        }
    }

    &_logo {
        width: 159px;
        height: 18.24px;
        position: relative;
        align-self: start;

        @media (min-width: 381px) and (max-width: 768px) {
            left: 30px;
        }
    }

    &_link {
        color: black;
        width: 240px;
        height: 25px;
        font-weight: bold;
        font-family: 'Montserrat';
        position: relative;
        align-self: start;
        left: 30px;

        @media (min-width: 381px) and (max-width: 768px) {
            position: relative;
            top: 30px;
            right: 30px;
        }
    }

    &_button {
        border: 2px solid #3C3C3C;
        width: 174px;
        height: 56px;
        background: white;
        padding: 15px;
        text-align: center;
        border-radius: 25px;
        font-size: 16px;
        color: #3C3C3C;
        font-family: 'InterR';
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        @media(max-width: 800px) {
            font-size: 14px;
            width: 150px;
            height: 50px;
            text-align: center;
        }
        @media (min-width: 381px) and (max-width: 768px) {
            display: inline-block;
            width: 120px;
            height: 50px;
            font-size: 15px;
        }
    }
    button:hover {
        background: #3C3C3C;
        color: white;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
    position: relative;
    z-index: 1;

    &_content {
        width: 100%;
        max-width: 600px;
        z-index: 1;
    }

    &_header {
        color: #3C3C3C;
        border: 2px dashed #2161D0;
        border-radius: 17px;
        font-size: 63px;
        font-family: "BebasR";
        padding: 12px;

        @media(max-width: 800px) {
            font-size: 42px;
        }
    }

    &_subheader {
        color: #000;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 70px;
        line-height: 30px;

        @media(max-width: 800px) {
            font-size: 15px;
            margin-top: 30px;
        }
    }

    &_btn_wrapper {
        margin-top: 70px;

        @media(max-width: 800px) {
            margin-top: 30px;
        }
    }

    &_btn {
        display: inline-block;
        background-color: #2161D0;
        color: #fff;
        padding: 16px 20px;
        border-radius: 250px;
        font-size: 16px;
        text-align: center;
        width: 178px;
        height: 56px;
        font-family: 'InterR';
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        @media(max-width: 800px) {
            font-size: 15px;
            width: 140px;
            height: 50px;
        }

        @media (min-width: 381px) and (max-width: 768px) {
            position: relative;
            left: 140px;
            width: 178px;
            height: 56px;
            font-size: 16px;
        }
    }
    button:hover {
        background: black; /* чёрный фон при наведении */
        color: #2161D0; /* белый текст при наведении */
      }


    &_note {
        display: flex;
        gap: 10px;
        border: 2px solid #2161D0;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.58);
        transform: rotate(-5deg);
        z-index: 1;
        padding: 20px;
        align-items: self-start;


        &_content {
            align-items: center;
            font-family: "Inter";
            font-size: 19px;
            color: black;
            width: 324px;
            height: 84px;

        }

        &_wrapper {
            width: 100% !important;
            align-items: center;
            left: 314px;

            @media(max-width: 800px) {
                left: 200px;
                ;
            }

            @media (min-width: 381px) and (max-width: 768px) {
                left: 10px;
                align-items: self-start;
                top: 30px;
            }

        }
    }

    &_decor {
        right: 300px;
        bottom: 90px;

        img {
            max-width: 764px;
            height: 668px;

            @media(max-width: 800px) {
                overflow: hidden;
            }
        }

    }
}

.blueH {
    color: #2161D0;
    font-family: 'BebasR';
}

.blueN {
    color: #2161D0;
    font-family: 'InterR';
}

.app {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

@media(max-width: 1234px) {}