body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center
}

.logo {
  width: 159px;
  height: 18.24px;
}

.Doc {

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  
}
.start{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  
  background-color: white;
  padding: 10px 20px;
  border-radius: 80px;
  border: 2px solid #3C3C3C;
  color: #3C3C3C;
  height: 56px;
  font-size: 16px;
  width: 174px;
  position: relative
}

.title_heros {

  color: #000;
  font-size: 64px;
}

.hero {

  color: blue;
  text-align: left;
  
}

.title_container {

  width: 665px;
  height: 231px;
  border: 1px dashed;
  border-width: 1px;
  border-color: #2161D0;
  margin-bottom: 60px;
  font-size: 64px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}

.hero-text .btn {
  background-color: #007BFF;
  border-radius: 30px;
  color: white;
  width: 178.89px;
  border: 2px solid #007BFF;
  ;
}

.scene {
  position: relative;
  width: 800px;
  height: 600px;
  top: 186px;
  right: 80px;

}


.floor_img {
  position: absolute;
  width: 764.02px;
  height: 481.62px;
  bottom: 50px;
  left: 200px;
}


.laptop_img {
  position: absolute;
  width: 446.16px;
  height: 469.08px;
  bottom: 240px;
  left: 390px;
}


.laptop_text_img {
  position: absolute;
  width: 534px;
  height: 189px;
  bottom: 470px;
  left: 390px;
}


.colo_img {
  position: absolute;
  width: 79.24px;
  height: 165.49px;
  top: 90px;
  right: 300px;

}


.colo_stena_img {
  position: absolute;
  width: 145.93px;
  height: 179.08px;
  bottom: 550px;
  left: 462px;
}

.polucolo_img {
  position: absolute;
  width: 188.16px;
  height: 176.7px;
  bottom: 167px;
  left: 490px;
}

.statistik_img {
  position: absolute;
  width: 534px;
  height: 189px;
  bottom: 500px;
  left: 520px;
}


.statistik_colo_img {
  position: absolute;
  width: 152.56px;
  height: 176.42px;
  bottom: 380px;
  left: 630px;

}

.info-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 402px;
  height: 118px;

}

.info-card-logo {
  width: 43px;
  height: 43px;
}

.info_card_text {
  font-size: 28px;
  line-height: 1.5;
  color: #000;
  margin: 0;
}

.textik {
  font-weight: bold;
  color: #0078ff;
}